<footer>
         <!-- Footer Main -->
    <section class="ft-main">
      <div class="ft-main-item">
        <h2 class="ft-title">About</h2>
        <ul>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Global Sites</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">My Account</h2>
        <ul>
          <li><a href="#">My Account</a></li>
          <li><a href="#">My Booking</a></li>
          <li><a href="#">Rewards</a></li>
          <li><a href="#">Download the App</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Help & FAQs</h2>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Customer Service</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Stay Updated</h2>
        <p>Subscribe to our newsletter to get our latest news and promotions.</p>
        <form class="email">
          <input type="email" name="email" placeholder="Enter email address">
          <input type="submit" value="Subscribe">
        </form>
      </div>
    </section>
  
    <!-- Footer social -->
    <section class="ft-social">
      <ul class="ft-social-list">
        <li><i class="fa fa-facebook" style="font-size:36px"></i></li>
        <li><i class="fa fa-instagram" style="font-size:36px"></i></li>
        <li><i class="fa fa-twitter" style="font-size:36px"></i></li>
      </ul>
    </section>
  
    <!-- Footer legal -->
    <section class="ft-legal">
      <ul class="ft-legal-list">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li>&copy; 2020 Copyright Hailey Koo.</li>
      </ul>
    </section>
    </footer>