<h2 class="form-title">Welcome {{user.firstName}} {{user.lastName}}</h2>

<section class="user-info">
     <div class="menu-text">
         <img src="/upload/{{user.profilePic}}" alt="dashboard" class="thankyou">
         <h1>Now we can make advantures toghter!</h1>
         <h2>You Can edit your information in the blow menus.</h2>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Account</a></li>
                <li><a href="#">Booking</a></li>
            </ul>
        </div>
</section>


